
ion-tab-button{
    --color-selected: white;
}

.player{
    height: 55px;
    background: var(--ion-color-dark);
    font-family: 'PTsans';
    color: white;
    font-size: small;
    img{
        height: 55px;
    }
}

.progress-bar{
    width: 100%;
    height: 2px;
    background: rgb(29, 29, 29);
    .progress{
       background: white; 
       height: 100%;
    }
}