ion-title, ion-content{
    font-family: 'PTsans';
}

.album-info{
    color: white;
    margin-left: 11px;
    padding-right: 11px;
    p{
        font-weight: bold;
    }
}

ion-row{
    padding-top: 40vh;
}

ion-content{
    --background: linear-gradient(var(--custombg) 400px, var(--ion-color-dark), 400px);
}

.image-box{
    position: fixed;
    z-index: 0;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}

.main{
    z-index: 2;
    background: linear-gradient(var(--custombg) 20%, var(--ion-color-dark) 80%);
}